output_dir: /T20030104/ynj/TRIX/output_rel/

dataset:
  class: JointDataset
  graphs: [FB15k237, WN18RR, CoDExMedium]
  root: /kg-datasets/

model:
  class: TRIXLatentMechanism
  trix:
    feature_dim: 32
    num_layer: 3
    num_mlp_layer: 2
  relation_model:
    class: NBFNet
    input_dim: 32
    hidden_dims: [32, 32]
    message_func: distmult
    aggregate_func: sum
    short_cut: yes
    layer_norm: yes
  entity_model:
    class: IndNBFNet
    input_dim: 32
    hidden_dims: [32, 32]
    message_func: distmult
    aggregate_func: sum
    short_cut: yes
    layer_norm: yes
  mechanism:
    enabled: true
    z_dim: 32
    beta: 1.0e-3
    deterministic_eval: true
    score_type: concat_mlp
    query_free: true

task:
  name: MultiGraphPretraining
  num_negative: 512
  strict_negative: yes
  adversarial_temperature: 1
  metric: [mr, mrr, hits@1, hits@3, hits@10]

optimizer:
  class: AdamW
  lr: 5.0e-4

train:
  gpus: [0]
  batch_size: 64
  num_epoch: 20
  log_interval: 400
  batch_per_epoch: 1000
  logger: wandb

